doctype html
html
  head
    title Jade template
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="css/main.css")
  body
    h1 This is a jade template
    script(src="js/bundle.js")
  
